:root {
  --main-color: grey;
  --text-color: black;
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

#logo {
  font-size: 17px;
  font-weight: bolder;
  margin-left: 15px;
}

nav {
  position: fixed;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  font-size: 17px;
  text-decoration: none;
  color: var(--text-color);
}

section {
  height: 640px;
}

/* Home Section */
.home {
  background: url(home-bg.png) no-repeat center center / cover;
  position: relative;
}

.home-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white; /* Set your preferred text color */
  font-size: 18px; /* Set your preferred font size */
}

h1 {
  font-weight: bolder;
}

/* Custom Styles for About Section */
.about {
  padding: 80px 0;
}

.section-heading {
  text-transform: uppercase;
  font-size: 2rem;
  color: #f39c12; /* Choose your desired color */
}

.text-muted {
  color: #777;
}

.large {
  font-size: 1.25rem;
  line-height: 1.6;
}

/* Additional Styling for Home Text */
.home-text {
  text-align: center;
  padding: 150px 0;
  color: #fff;
}

.home-text h1 {
  font-size: 3rem;
}

.home-text p {
  font-size: 1.5rem;
}

/* Custom Styles for Cars Section */
/* Custom Styles for Cars Section */
.cars {
  padding: 20px 0; /* Adjust the top padding as needed */
}

.car-card {
  margin-bottom: 30px;
  text-align: center;
}

.car-card img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.car-card h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

.text-muted {
  color: #777;
}

