:root {
  --main-color: grey;
  --text-color: black;
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#logo {
  font-size: 17px;
  font-weight: bolder;
  margin-left: 15px;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  font-size: 17px;
  text-decoration: none;
  color: var(--text-color);
}


